.git
.gitignore
.env
.env.*
!.env.example
logs/*
!logs/.gitkeep
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/venv
backups
*.md
!README.md
.idea
.vscode
*.log
*.bak
Thumbs.db
.DS_Store
